<app-menu></app-menu>
<p-confirmDialog></p-confirmDialog>
<p-card>
    <ng-template pTemplate="header">
        <h2>Recipes</h2>
    </ng-template>
    <p>Click on the rows to add a recipe to your shopping list</p>
    <p-table [value]="recipes" selectionMode="single" [(selection)]="selectedRecipe" dataKey="name"
        (onRowSelect)="onRowSelect($event)" [tableStyle]="{'min-width': '50rem'}">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Description</th>   
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-recipe>
            <tr [pSelectableRow]="recipe">
                <td>{{recipe.name}}</td>
                <td>{{recipe.description}}</td>
            </tr>
        </ng-template>
    </p-table>
</p-card>



